*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid #000000; */
   
    color: #fff;
    
}
body{
     background-color: rgb(0, 0, 0);
}
h1{
    text-align: center;
    font-weight: 800;
}

nav{
    width: 100vw;
    height: 8vh;
    position: fixed;
    background-color: red;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.container1 ,.container2{
    width: 50vw;
    height: 50vh;
    margin: 10px 20px;
 
}
.container1{
    background-color: #70ffd4;
}
.container2{
    background-color: #f05656;
}
.textbox{
    text-align: center;
    height: 30%;
    width: 50%;
    border: 2px solid #860707;
    border-radius: 23px;
    margin:10px auto;
    padding: 23px 34px; 

}
.chatbot{
    position: fixed;
    right: 50px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 34px 23px 67px 12px;
}
footer{
    width: 100vw;
    height: 8vh;
    background-color: rebeccapurple;
    margin-top: 100px;
}
div,nav,footer{
    display: flex;
    align-items: center;
    justify-content: center;
}